PORT=5000
DATABASE_URL=
JWT_SECRET=
FRONTEND_URL=http://localhost:3000
RESEND_API_KEY=re_xxxxxxxxx
EMAIL_FROM=PikaGames <onboarding@resend.dev>
EMAIL_USER=supportpikagames@gmail.com
EMAIL_PASS=xtxn cexw zqll pyjq
GOOGLE_CLIENT_ID=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
